<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starting Page | Main</title>
  </head>
  <body>
    <header class="main-header">
      <div class="main-header__column">
        <a href="#">
          <i class="fas fa-bars"></i>
        </a>
      </div>
      <div class="main-header__column">
        <span class="main-header__title">Starting - Page</span>
      </div>
      <div class="main-header__column">
        <a class="main-header__logout" href="#">Logout</a>
        <a href="#">
          <img
            src="https://lh3.googleusercontent.com/ogw/ADGmqu_AZoC0k3KKOQ0HdvHfW44Wd_XiDFARWvxVkWAm=s32-c-mo"
            alt=""
          />
        </a>
      </div>
    </header>
    <div class="clock-row">
      <div class="clock">
        <div class="clock__date">
          <span class="clock__year">2020년</span>
          <span class="clock__month">10월</span>
          <span class="clock__day"> 5일 </span>
        </div>
        <div class="js-clock clock__time">
          <span></span>
        </div>
      </div>
      <div class="search">
        <input type="text" placeholder="Search" />
        <i class="fas fa-search"></i>
      </div>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/36bc4c83be.js"
    crossorigin="anonymous"
  ></script>
  <script src="../clock.js"></script>
</html>
