/* Clock */

.clock-row {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock__date {
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.clock__time {
  font-size: 30px;
}

/* Search */

.search {
  display: flex;
  align-items: center;
  border: 10px solid rgba(0, 0, 0, 0.1);
  padding: 5px 5px;
  margin-left: 20px;
  border-radius: 100px;
}

.search i {
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 50%;
  padding: 8px;
}

.search input {
  font-size: 30px;
  border: none;
  width: 110px;
  padding-left: 20px;
}

@keyframes activateSearch {
  from {
    transform: none;
  }
  to {
    width: 600px;
    margin-left: 10px;
  }
}

@keyframes searchBorder {
  from {
    transform: none;
  }
  to {
    border: 10px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
  }
}

.search input:focus {
  animation: activateSearch 0.6s ease-in-out forwards;
}

.search:focus-within {
  animation: searchBorder 0.6s ease-in-out forwards;
}
